* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typografi */
  --font-family: "Poppins", sans-serif;
  --titel-1: 40px;
  --titel-2: 32px;
  --titel-3: 24px;
  --bread-1: 16px;
  --bread-2: 12px;

  /* font weight */
  --weight-semibold: 600;
  --weight-regular: 400;

  /* Farver */
  --background: rgba(250, 249, 247, 1);
  --box-color: rgba(242, 238, 231, 1);
  --figur-color: rgba(239, 233, 228, 1);
  --line-color: rgba(206, 146, 157, 1);
  --cta-1: rgba(255, 38, 147, 1);
  --cta-2: rgba(68, 48, 52, 1);
  --font-color: rgba(34, 24, 26, 1);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--bread-1);
  font-weight: var(--weight-regular);
  background-color: var(--background);
}

h2 {
  font-size: var(--titel-2);
  font-weight: var(--weight-semibold);
}

h3 {
    font-size: var(--titel-3);
    font-weight: var(--weight-semibold);
}

.layout-margin {
  display: flex;
  flex-direction: column;
  margin: 80px 160px;
  gap: 80px;
}

/* NAV-BAR */

header {
  border-bottom: 1px solid var(--line-color);
}

.navbar {
  margin: 0 160px;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
}

.logo img {
  width: auto;
  height: 48px;
  display: block;
}

.kurv img {
  width: auto;
  height: 48px;
  display: block;
}

.kurv {
  padding: 0px 0px 0px 12px;
  transition: transform 0.2s ease;
}

.kurv:hover {
  transform: scale(1.2);
}

/* HERO SEKTION */

.hero {
  display: flex;
  align-items: center;
}

/* fyld 50/50 */
.hero-content, .hero-img {
  flex: 0 0 50%;
}

/* content står i række */
.hero-content {
  display: flex;
  flex-direction: column;
  padding: 0px 120px 0px 160px;
  gap: 40px;
}

/* billede fylder containeren ud */
.hero-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* Logo og trustpilot linjen - mindre gap her */
.product-name span {
    font-weight: var(--weight-semibold);
}

.logo-trustpilot {
    gap: 8px;
}

/* Trustpilot linje */
.hero-trustpilot {
  display: flex;
  gap: 8px;
}

.star {
  width: 16px;
}

.hero-trustpilot figcaption {
  font-size: var(--bread-2);
}

/* Hero tekst */
.hero-titel {
  font-size: var(--titel-1);
  font-weight: var(--weight-semibold);
}


/* Hoved cta design og hover */
.cta-1 {
    text-decoration: none;
    background-color: var(--cta-1);
    color: var(--background);
    font-size: var(--titel-3);
    font-weight: 600;
    width: 240px;
    padding: 16px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    transition: transform 0.2s ease;
}

.cta-1:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* Andet cta design */
.cta-2 {
  background-color: rgba(68, 48, 52, 1);
}



/* INFO BAR */
.info-bar {
    border-bottom: 1px solid var(--line-color);
    border-top: 1px solid var(--line-color);
    background-color: #fff;
}

.info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 160px;
    list-style: none;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-item img {
    height: 68px;
    width: auto;
}



/* TIL ENHVER LEJLIGHED, UDFORSK FARVER, CONNECT og DETALJER */
.occasion, .choose-colors, .connect {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    background-color: var(--box-color);
    gap: 40px;
    align-items: center;
    border-radius: 16px;
}

.occasion-box, .connect-box, .detail-box {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.occasion-item, .connect-item, .detail-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
}

.occasion-item img, .connect-item img, .detail-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
}


/* FEATURE SEKTION */
.choose-lumina {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* gør hvert card til flexbox, lodret */
.causes {
  display: flex;
  flex-direction: column;

  /* Bølget s-kurve i baggrunden */
  background-image: url("../img/s-kurve.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Styrer den vandrette placering - hhv de lige og ulige "child" */
.cause:nth-child(odd) {
  align-self: flex-end;
}

.cause:nth-child(even) {
  align-self: flex-start;
}

.choose-lumina h2 {
  display: flex;
  justify-content: center;
}


/* FEATURE CARDS */
.cause {
  display: inline-flex;
  gap: 24px;
  padding: 24px;
  background-color: var(--box-color);
  border-radius: 16px;
  width: fit-content;
}

.cause-text {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 24px;
}

.cause-img img {
  width: 200px;
  border-radius: 16px;

}



/* UDFORSK LUMINAS FARVER */
/* Billedets størrelse */
.lumina-color, .color-img {
  display: flex;
  width: 400px;
  border-radius: 16px;
}

/* farveknapper */
.color-buttons {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.color-btn {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: 2px solid;
}

.lavender-mist {
 background-color: rgba(223, 214, 233, 1);
 border-color: rgba(138, 129, 148, 1);
}

.sage-green {
  background-color: rgba(196, 211, 189, 1);
  border-color: rgba(111, 126, 104, 1);
}

.dusty-rose {
  background-color: rgba(222, 182, 189, 1);
  border-color: rgba(137, 97, 104, 1);
}

.moonlight-white {
  background-color: rgba(237, 232, 223, 1);
  border-color: rgba(152, 147, 138, 1);
}

.on{
  width: 56px;
  height: 56px;
}



/* DETALJE SEKTION */
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.details h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details h2 span {
  font-size: var(--titel-3);
  font-weight: var(--weight-regular);
}





footer {
  background-color: var(--figur-color);
  padding: 40px 160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-links{
  display: flex;
  justify-content: space-between
}

.footer-links a {
  text-decoration: none;
  color: var(--font-color);
}

.footer-links ul {
  list-style: none;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom img {
  height: 40px;
}

footer .container {
  max-width: 1500px;
  width: 92%;
  margin: 0 auto;
  padding-bottom: 120px;
}